<mat-dialog-content>
  <div class="container-add-record" [formGroup]="formData">
    <mat-form-field class="form-group-add-record">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="form-group-add-record">
      <mat-label>Category</mat-label>
      <input matInput formControlName="category">
    </mat-form-field>
    <mat-form-field floatLabel="always" class="form-group-add-record">
      <mat-label>Amount</mat-label>
      <input matInput type="text" class="example-right-align" placeholder="0" formControlName="amount" />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
    <mat-radio-group formControlName="type" class="form-group-add-record">
      <mat-radio-button value="expense">Expense</mat-radio-button>
      <mat-radio-button value="income">Income</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelButtonClick()">Cancel</button>
  <button mat-button (click)="onAddButtonClick()">Add</button>
</mat-dialog-actions>
